@black: #000;
@grey: #999;
@dark-blue: #446E9B;
.chat-container.jumbotron{
    padding: 10px;
    margin-bottom: 15px;
}
.glyphicon{
    padding-right: 3px;
}
.btn-group{
    margin-bottom: 5px;
}
.chat-container{
    height: 545px;
    overflow-y: auto;
    dl{
        margin-bottom: 6px;
    }
    dt{
        font-size: 12px;
        min-width: 60px;
        max-width: 100px;
        .chat-item{
            padding-top: 3px;
            span{
                padding-right: 3px;
            }
        }
    }
    dd{
        margin-left: 110px;
        .chat-msg{
            position: relative;
            padding: 2px 4px;
            border-radius: 3px;
            color: @black;
            .msg-time{
                position: absolute;
                left: 95%;
                top: 5px;
                font-size: 10px;
                color: @grey;
            }
            div{
                padding-right: 30px;
                a{
                        color: @dark-blue;
                }
            }
        }
    }
}
.list-group{
    h4{
        .fa{
            margin-right: 5px;
        }
    }
    .list-group-container{
        max-height: 350px;
        overflow-y: auto;
    }
    .list-group-item{
        padding: 5px;
        img{
            margin-right: 4px;
        }
    }
}